<!DOCTYPE html>
<html>
<head>
    <title>Brrrr</title>
</head>
<body>
    <h1>
         <style>
        .container {
          height: 15em;
          position: relative;
          font-family: arial
        }

        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        </style>

        <div class="container">
          <div class="center">
            <p>{{code}}</p>
          </div>
        </div> 
    </h1>
</body>
</html>

